.post_card {
  flex: 0 0 calc(33.333% - 8px);
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}

.post_image {
  object-fit: cover;
  border-radius: 8px;
}
