.festivalInfoHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.weather {
  background-color: rgba(175, 221, 252, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
}
