.add_feed_container {
  display: flex;
  height: 100vh;
  flex-direction: column;

  align-items: center;
  gap: 24px;
}

.left_box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  gap: 24px;
}

.image_upload_box {
  height: 300px;
  width: 425px;
  border: 2px solid #ff6f61;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  background: #fff;
  transition: border 0.2s;
  position: relative;
}

.image_upload_box:hover {
  border: 2px solid #ff6f61;
}

.plus_icon {
  font-size: 2.5rem;
  color: #ff6f61;
}

.preview_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
}

.textarea {
  width: 425px;
  height: 200px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  resize: none;
  margin-bottom: 8px;
}

.next_btn,
.send_btn {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  border: none;
  border-radius: 50%;
  background: #ff6f61;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}
.send_btn.disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
.next_btn:hover,
.send_btn:hover {
  background: #ff6f61;
}
.textarea {
  outline: none;
}

@media (max-width: 445px) {
  .textarea {
    width: 100%;
  }

  .image_upload_box {
    width: 100%;
    height: 300px;
  }
}
