.item_card_container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  width: 30.333%;
  height: 100%;
}

.item_card_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  position: relative;
}
.item_count {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  background: #ff6f61;
  color: #fff;
  padding: 4px 8px;
  border-radius: 0 0 0 10px;
}

.item_count_x {
  font-size: 12px;
  font-weight: 700;
}
.item_card_image {
  object-fit: cover;
  border-radius: 8px;
}

.item_card_info {
  padding: 16px;
  text-align: center;
}

.item_card_info h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.item_description {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .item_card_container {
    width: 45%;
    margin: 4px;
  }

  .item_card_info {
    padding: 12px;
  }

  .item_card_info h3 {
    font-size: 16px;
  }

  .item_card_info p {
    font-size: 13px;
  }
}
