.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header_left {
  font-size: 20px;
  font-weight: 700;
  padding-top: 4px;
  color: #ff6f61;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.login_button {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ff6f61;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

.header_center {
  font-size: 20px;
  font-weight: 700;
  padding-top: 4px;
  color: #ff6f61;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.back_button {
  cursor: pointer;
}

.user_icon_container {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ff6f61;
}
.user_icon {
  color: #ff6f61;
}
